/** {
  border: solid 1px white;
}*/

@font-face {
  font-family: song;
  src: url("cwfs.ttf");
}
img {
     height: auto;
     max-width: 100%;
 }
@media only screen
and (min-width : 600px) 
and (max-device-width : 999999px)
{ 
html, body {
  -webkit-appearance:none;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
html .adv, body .adv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .adv .top, body .adv .top {
  position: absolute;
  top:0;
  width: 100%;
  height: 10%;
  padding: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  border: 1px solid #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
html .adv .top .title, body .adv .top .title {
  /*width: 40vw;*/

  /*height:100%;*/
  display: inline-block;
  vertical-align:top;
  color: white;
  font-weight: bold;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}
.titlename:hover, .titlesquare:hover {
  cursor: pointer;
}
html .adv .top .title  .titlename, body .adv .top .title  .titlename {
  display: inline-block;
  vertical-align:top;
  width:auto;
  margin-right: 9px;
  padding: 0px;
  font-size: 47px;
}
html .adv .top .title  .titlesquare, body .adv .top .title  .titlesquare {
  width:auto;
  height:57px;
  display: inline-block;
  vertical-align:top;
  background-color: #FF9901;
  font-size: 45px;
  letter-spacing: -4px;
  border-radius: 1vw;
  color: black;
  margin-left: 0px;
  padding-right: 5px;
  font-weight: bold;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  
}
html .adv .inner_adv, body .inner_adv {
  position: absolute;
  top:20%;
  width: 50vw;
  height: 40vw;
  background-color: #1B1B1B;
  border: 1px solid #313131;
  
}
html .adv .inner_adv .remove_button, body .inner_adv .remove_button{
  position: absolute;
  top: 7%;
  right:5%;
  /*transform: translateX(-255%);*/
  width: auto;
  height: auto;
  /*padding:2%;*/
  text-align:center
  border: 2px solid white;
  border-radius: 50%;
  font-weight: bolder;
  z-index: 99999999999999999999;
}
html .adv .inner_adv .button_adv, body .inner_adv .button_adv{
  position: absolute;
  top: 10%;
  left:50%;
  transform: translateX(-50%);
  width: 80%;
  height: 60%;
  border: 1px solid #313131;
  overflow: hidden;
}
html .adv .inner_adv .button_adv a img, body .inner_adv .button_adv a img{
  width: 100%;
  height: 50vw;
  position: absolute;
  top:-30%;
}
html .adv .inner_adv .cancel_adv, body .inner_adv .cancel_adv{
  position: absolute;
  bottom: 10%;
  left:50%;
  transform: translateX(-50%);
  width: 80%;
  height: 10%;
  border: 1px solid #313131;
  border-radius: 5px;
  overflow: hidden;

}
html .adv .inner_adv .cancel_adv .cancel_button, body .inner_adv .cancel_adv .cancel_button{
  -webkit-appearance:none;
  width:100%;
  height:100%;
  background-color: #1B1B1B;
  border: 0;
  color: #FF9901;
  font-size:3vw;
}
html .main, body .main {
/*position: absolute;*/
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-y: hidden;
}
html .main .top, body .main .top {
  position: relative;
  width: 100%;
  height: 10%;
  padding: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  border: 1px solid #313131;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}
html .main .top .title, body .main .top .title {
  width: 40vw;
  /*height:100%;*/
  margin: 0px 0px 0px 0px;
  display: inline-block;
  vertical-align:top;
  color: white;
  font-weight: bold;
}
.titlename:hover, .titlesquare:hover {
  cursor: pointer;
}
html .main .top .title  .titlename, body .main .top .title  .titlename {
  display: inline-block;
  vertical-align:top;
  width:auto;
  margin-right: 9px;
  padding: 0px;
  font-size: 45px;
}
html .main .top .title  .titlesquare, body .main .top .title  .titlesquare {
  width:auto;
  height:auto;
  display: inline-block;
  vertical-align:top;
  background-color: #FF9901;
  font-size: 45px;
  border-radius: 1vw;
  color: black;
  margin-left: 0px;
  font-weight: bold;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}
html .main .top .none, body .main .top .none {
  width: 5vw;
  height: 100%;
  margin: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  display: inline-block;
  vertical-align:top;
  position: relative;
}
html .main .top .user, body .main .top .user {
  position: absolute;
  right:5%;
  width: 15vw;
  /*height: 100%;*/
  margin: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  
  
}
html .main .top .user .account, body .main .top .user .account {
  width: auto;
  /*height: 48%;*/
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
}
html .main .top .user .account_b, body .main .top .user .account_b {
  width: auto;
  height: 48%;
  color: white;
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .main .top .user #signIn, body .main .top .user #signIn {
 
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
  margin-right: 5px;

}
html .main .top .user #logIn, body .main .top .user #logIn {
  
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
}
hr{
  /*height: 1px;*/
  border-color:#72706e;
}
html .main .top .information, body .main .top .information {
  position: relative;
  width: 100%;
  height: 15%;
  font-size: 12px;
  background-color: #1B1B1B;
}
.marquee{
  color:white;
}
html .main .center, body .main .center {
  width: 100%;
  height: 80%;
  
  margin: 0px;
  padding: 0px;
}
html .main .center .c_left, body .main .center .c_left {
  background-color: #1B1B1B;
  position: relative;
  display: inline-block;
  vertical-align:bottom;
  transform: translateY(-20px);
  width: 17%;
  height: 95%;
  border: 1px solid #313131;
  border-radius: 5px;
}
html .main .center .c_left a, body .main .center .c_left a{
 /* background-color: #FF9901;*/
  
  text-decoration:none;
  color:black;
  
}
html .main .center .c_left .category_title, body .main .center .c_left .category_title{
 /* background-color: #FF9901;*/
  background-color: #FF9901;
  text-decoration:none;
  color:black;
  width: 90%;
  /*height: 9%;*/
  margin:5px;
  text-align:center; 
  font-weight: bolder;
  font-size: 40px;
  border-radius: 3px; 
}
html .main .center .c_left .category_items, body .main .center .c_left .category_items{
  
  width: 90%;
  height: 90%;
  margin: 0px;
  
}
.category_button{
  position: relative;
  font-family: song; 
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -2px;　
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px black double;
  width: 100%;
  height: 37px;
  margin:5px;
  text-align:left; 
  background-color: #747474;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
}
.category_button:hover{
  transform: translateX(10px);
  background-color: #747474;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
}

html .main .center .c_center, body .main .center .c_center {
  position: relative;
  background-color: #0c0c0c;
  /*border: solid 1px white;*/
  display: inline-block;
  vertical-align: bottom;
  transform: translateY(2px);
  width: 60%;
  height: 100%;
}

html .main .center .c_center .c_top, body .main .center .c_center .c_top {
  position: relative;
  width: 96%;
  height: 70%;
  border: 1px solid #313131;
  margin:2%;
  background-color: #1B1B1B;
  border-radius: 2%;
}
html .main .center .c_center .c_top.creat, body .main .center .c_center .c_top.creat {
  position: relative;
  width: 96%;
  height: 90%;
  border: 1px solid #313131;
  margin:2%;
  background-color: #1B1B1B;
  border-radius: 2%;
}
html .main .center .c_center .c_top .book_img , body .main .center .c_center .c_top .book_img  {
  position: relative;
  display: inline-block;
  width: 48%;
  height: 90%;
  margin:2%;
 /* border:solid 1px red;*/
 
}
html .main .center .c_center .c_top .book_img .main_img, body .main .center .c_center .c_top .book_img .main_img {
  position: relative;
  width: 74%;
  height: 70%;
  margin-left:13%;
  margin-right: 13%;
  /*border: solid 1px yellow;*/
}
html .main .center .c_center .c_top .book_img .main_img img, body .main .center .c_center .c_top .book_img .main_img img{
  position: relative;
  width: 100%;
  height: 100%;
  /*margin-left:13%;
  margin-right: 13%;*/
  /*border: solid 1px yellow;*/
}
html .main .center .c_center .c_top .book_img .image_select, body .main .center .c_center .c_top .book_img .image_select{
  color: #9e9c9c;
  display: inline-block;
}
html .main .center .c_center .c_top .book_img .image_select ul li, body .main .center .c_center .c_top .book_img .image_select ul li{
  color: #9e9c9c;
  display: inline-block;
  width: auto;
}
html .main .center .c_center .c_top .book_img .image_select .buy, body .main .center .c_center .c_top .book_img .image_select .buy{
  color: #9e9c9c;
  display: inline-block;
  /*margin-left:13%;
  margin-right: 13%;*/
  /*border: solid 1px yellow;*/
  
}
html .main .center .c_center .c_top .book_img .book_slick, body .main .center .c_center .c_top .book_img .book_slick {
  position: relative;
  width: 90%;
  height: 30%;
  margin: 3% 5%;
  /*border: solid 1px blue;*/
}
html .main .center .c_center .c_top .book_img .book_slick .a, body .main .center .c_center .c_top .book_img .book_slick .a{
  -webkit-appearance:none;
  background-color: #1B1B1B;
  border-color: #1B1B1B;
  border: 0px;
  position: relative;
  /*border: solid 1px blue;*/
}
html .main .center .c_center .c_top .book_img .book_slick img, body .main .center .c_center .c_top .book_img .book_slick img{
  position: relative;
  width: 80%;
  height: 10vh;
  margin: 3% 5%;
  /*border: solid 1px blue;*/
}
html .main .center .c_center .c_top .introduce, body .main .center .c_center .c_top .introduce {
  position: relative;
  width: 45%;
  height: 98%;
  border-left: solid 1px #313131;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
}
html .main .center .c_center .c_top .introduce ul, body .main .center .c_center .c_top .introduce ul{
  width: 85%;
  /*height: 99%;*/
  list-style-type: none;
  color: #9e9c9c;
  font-size: 2.5vh;
  margin-top:5%;
  margin-bottom:0;
}



html .main .center .c_center .c_top .introduce ul li, body .main .center .c_center .c_top .introduce ul li {
  width: 85%;
  /*height: 100%;*/
  /*border: solid 1px white;*/
 
}
html .main .center .c_center .c_top .introduce .creat_title, body .main .center .c_center .c_top .introduce .creat_title{
  display: inline-block;
  width:auto;
  color: #ccc;
}
html .main .center .c_center .c_top .introduce .creat, body .main .center .c_center .c_top .introduce .creat{
   -webkit-appearance:none;
  width: 50%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #555;
  background: rgba(0,0,0,.9);
  padding: 5px 15px;
  font-size: 16px;
  margin: -5px auto;
  color: #ccc;
  display: inline-block;
}
html .main .center .c_center .c_top .introduce .introduce_b, body .main .center .c_center .c_top .introduce .introduce_b{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5vh;
  /*transform: translateY(-25%);*/
  /*border: solid 1px white;*/
  /*margin-top: 2%;*/
}
html .main .center .c_center .c_top .introduce  .introduce_b .ask, body .main .center .c_center .c_top .introduce .introduce_b .ask{
  -webkit-appearance:none;
  width:45%;
  height:5vh;

  position: absolute;
  bottom:8%;

  border-radius: 5%;
  border: solid 1px #5e5a5a;
  background-color: black;
  color:#cec6c6;

}
html .main .center .c_center .c_top .introduce  .edit, body .main .center .c_center .c_top .introduce .edit{
  -webkit-appearance:none;
  width:35%;
  height:8%;

  position: absolute;
  bottom:8%;
left:10%;
  border-radius: 5%;
  border: solid 1px #5e5a5a;
  background-color: black;
  color:#cec6c6;
}

html .main .center .c_center .c_top .introduce   .delete, body .main .center .c_center .c_top .introduce  .delete{
  -webkit-appearance:none;
  width:35%;
  height:8%;

  position: absolute;
  bottom:8%;
  left:50%;
  border-radius: 5%;
  border: solid 1px #5e5a5a;
  background-color: black;
  color:#cec6c6;
z-index: 99999;

}
html .main .center .c_center .c_bottom, body .main .center .c_center .c_bottom {
  /*position: relative;*/
  width: 90%;
  height: 30%;
  padding:0;
  margin-left:5%;

  /*border: solid 1px red;*/
}
html .main .center .c_center .c_bottom .a, body .main .center .c_center .c_bottom .a{
  -webkit-appearance:none;
  background-color: #1B1B1B;
  border-color: #1B1B1B;
  border: 0px;
  /*border: solid 1px blue;*/
}
html .main .center .c_center .c_bottom img, body .main .center .c_center .c_bottom img{
  /*position: relative;*/
  width: 80%;
  height:13vh;
  margin-top: 5%;
  margin-left: 32%;
  transform:translateX(-3vw);
  /*border: solid 1px green;*/
  /*background-color:white;*/
}
html .main .center .c_center .c_bottom .another_book_name, body .main .center .c_center .c_bottom .another_book_name{
  /*position: relative;*/
  color:#9e9c9c;

  /*border: solid 1px red;*/
}

html .main .center .c_right, body .main .center .c_right {
  width: 18%;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  /*border: solid 1px white;*/
  /*background-color: #0c0c0c;*/
  background-color: #1B1B1B;

  /*#0c0c0c;*/
}
html .main .center .c_right .ad_b, body .main .center .c_right .ad_b{
  width: 100%;
  height: 50%;
  /*position: relative;*/
  border: solid 1px white;
  background-color: #0c0c0c;
  /*background-color: green;*/

  /*#0c0c0c;*/
}
html .main .center .c_right .ad_b img, body .main .center .c_right .ad_b img{
  width: 100%;
  height: 100%;
  /*position: relative;*/
  border: solid 1px white;
  background-color: #0c0c0c;
  /*background-color: green;*/

  /*#0c0c0c;*/
}
}
@-webkit-keyframes ani {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

@keyframes ani {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}
.titl {
  -webkit-animation-name: ani;
          animation-name: ani;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes ani_titlesquare {
  10% {
    background-color: #ffaf02;
  }
  15% {
    background-color: #ffd402;
  }
  20% {
    background-color: #faff02;
  }
  25% {
    background-color: #e9ff02;
  }
  30% {
    background-color: #c4ff02;
  }
  35% {
    background-color: #67ff02;
  }
  40% {
    background-color: #02ff84;
  }
  45% {
    background-color: #02ffbf;
  }
  50% {
    background-color: #02e9ff;
  }
  55% {
    background-color: #02d4ff;
  }
  60% {
    background-color: #02c8ff;
  }
  65% {
    background-color: #02a2ff;
  }
  70% {
    background-color: #0280ff;
  }
  75% {
    background-color: #0263ff;
  }
  80% {
    background-color: #0235ff;
  }
  85% {
    background-color: #4502ff;
  }
  90% {
    background-color: #5f02ff;
  }
  95% {
    background-color: #5f02ff;
  }
  100% {
    background-color: #5f02ff;
  }
}

@keyframes ani_titlesquare {
  10% {
    background-color: #ffaf02;
  }
  15% {
    background-color: #ffd402;
  }
  20% {
    background-color: #faff02;
  }
  25% {
    background-color: #e9ff02;
  }
  30% {
    background-color: #c4ff02;
  }
  35% {
    background-color: #67ff02;
  }
  40% {
    background-color: #02ff84;
  }
  45% {
    background-color: #02ffbf;
  }
  50% {
    background-color: #02e9ff;
  }
  55% {
    background-color: #02d4ff;
  }
  60% {
    background-color: #02c8ff;
  }
  65% {
    background-color: #02a2ff;
  }
  70% {
    background-color: #0280ff;
  }
  75% {
    background-color: #0263ff;
  }
  80% {
    background-color: #0235ff;
  }
  85% {
    background-color: #4502ff;
  }
  90% {
    background-color: #5f02ff;
  }
  95% {
    background-color: #5f02ff;
  }
  100% {
    background-color: #5f02ff;
  }
}
.titlesquare {
  -webkit-animation-name: ani_titlesquare;
          animation-name: ani_titlesquare;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@media only screen 
and (min-device-width : 0px) 
and (max-width : 1100px)
 { 
  html .main .center .c_right, body .main .center .c_right{
  display: none;
  }
  html .main .center .c_center, body .main .center .c_center{
  width:78%;
  }
 }
@media only screen 
and (min-width : 0px) 
and (max-width : 640px)
 { 
  body{
    background-color: black;
  }
  html .adv, body .adv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .adv .top, body .adv .top {
  position: absolute;
  top:0;
  width: 100%;
  height: 10%;
  padding: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  border: 1px solid #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
html .adv .top .title, body .adv .top .title {
  /*width: 40vw;*/

  height:100%;
  display: inline-block;
  vertical-align:top;
  color: white;
  font-weight: bold;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}
.titlename:hover, .titlesquare:hover {
  cursor: pointer;
}
html .adv .top .title  .titlename, body .adv .top .title  .titlename {
  display: inline-block;
  vertical-align:top;
  width:auto;
  margin-right: 9px;
  padding: 0px;
  font-size: 47px;
}
html .adv .top .title  .titlesquare, body .adv .top .title  .titlesquare {
  width:auto;
  height:57px;
  display: inline-block;
  vertical-align:top;
  background-color: #FF9901;
  font-size: 45px;
  letter-spacing: -4px;
  border-radius: 1vw;
  color: black;
  margin-left: 0px;
  padding-right: 5px;
  font-weight: bold;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  
}
html .adv .inner_adv, body .inner_adv {
  position: relative;
  width: 100vw;
  height: 100vw;
  background-color: #1B1B1B;
  border: 1px solid #313131;
  
}
html .adv .inner_adv .remove_button, body .inner_adv .remove_button{
  position: absolute;
  top: 7%;
  right:5%;
  /*transform: translateX(-255%);*/
  width: auto;
  height: auto;
  /*padding:2%;*/
  text-align:center
  border: 2px solid white;
  border-radius: 50%;
  font-weight: bolder;
  z-index: 99999999999999999999;
}
html .adv .inner_adv .button_adv, body .inner_adv .button_adv{
  position: absolute;
  top: 10%;
  left:50%;
  transform: translateX(-50%);
  width: 80%;
  height: 60%;
  border: 1px solid #313131;
  overflow: hidden;
}
html .adv .inner_adv .button_adv a img, body .inner_adv .button_adv a img{
  width: 100%;
  height: 100vw;
  position: absolute;
  top:-30%;
}
html .adv .inner_adv .cancel_adv, body .inner_adv .cancel_adv{
  position: absolute;
  bottom: 10%;
  left:50%;
  transform: translateX(-50%);
  width: 80%;
  height: 10%;
  border: 1px solid #313131;
  border-radius: 5px;
  overflow: hidden;

}
html .adv .inner_adv .cancel_adv .cancel_button, body .inner_adv .cancel_adv .cancel_button{
  -webkit-appearance:none;
  width:100%;
  height:100%;
  background-color: #1B1B1B;
  border: 0;
  color: #FF9901;
  font-size:3vw;
}
  html .main, body .main {
  width: 100%;
  height: 100%;
  background-color: black;
}
html .main .top, body .main .top {
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: #1B1B1B;
  border: 1px solid #313131;
}
html .main .center, body .main .center {
position: relative;
width: 100%;
height: 80vh;
background-color: black;
}
html .main .top .title, body .main .top .title {
  width: 240px;
  height:100%;
  margin-top:2px;
  display: inline-block;
  vertical-align:bottom;
  color: white;
  font-weight: bold;
}
.titlename:hover, .titlesquare:hover {
  cursor: pointer;
}
html .main .top .title  .titlename, body .main .top .title  .titlename {
  display: inline-block;
  vertical-align:top;
  width:auto;
  margin-right: 9px;
  padding: 0px;
  font-size: 45px;
}
html .main .top .title  .titlesquare, body .main .top .title  .titlesquare {
  width:auto;
  height:auto;
  display: inline-block;
  vertical-align:top;
  background-color: #FF9901;
  font-size: 45px;
  border-radius: 10px;
  color: black;
  margin-left: 0px;
  font-weight: bold;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}
html .main .top .none, body .main .top .none {
  width: 0vw;
  height: 100%;
  margin: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  display: inline-block;
  vertical-align:top;
  position: relative;
}
html .main .top .user, body .main .top .user {
  position: absolute;
  top:0;
  right:15%;
  width: 20vw;
  height: 100%;
  margin: 0px 0px 0px 0px;
  
  
}
html .main .top .user .account, body .main .top .user .account {
  width: auto;
  height: 48%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
}
html .main .top .user .account_b, body .main .top .user .account_b {
  width: auto;
  height: 48%;
  color: white;
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .main .top .user #signIn, body .main .top .user #signIn {
 
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
  margin-right: 5px;

}
html .main .top .user #logIn, body .main .top .user #logIn {
  
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
}
html .main .center .c_left, body .main .center .c_left {
  width: 30vw;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #313131;
  background-color: #1B1B1B;
  margin: 0px;
}
html .main .center .c_left .category_title, body .main .center .c_left .category_title{
  background-color: #FF9901;
  position: absolute;
  top:6px;
  width: 100%;
  height: 5%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 5vw;
  border-radius: 5px; 
}
html .main .center .c_left .category_items, body .main .center .c_left .category_items{
   -webkit-appearance:none;
  position: absolute;
  top:6%;
  width: 100%;
  height: 90%;
  margin: 0px;
  
}
.category_button{
  -webkit-appearance:none;
  position: relative;
  font-family: song; 
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px black double;
  width: 100%;
  height: 3.5vh;
  margin-top:5px;
  text-align:left; 
  background-color: #747474;
  border-radius: 7px;
  border-color: rgba(0, 0, 0, 0);
}
html .main .center .c_center, body .main .center .c_center {
  position: relative;
  background-color: #0c0c0c;
  border: 1px solid #313131;
  display: inline-block;
  vertical-align: bottom;
  width: 64.5vw;
  height: 100%;
  margin: 0px;
  /*background-color: yellow;*/
}
html .main .center .c_center .c_top, body .main .center .c_center .c_top {
  position: relative;
  width: 96%;
  height: 82%;
  /*border: solid 1px white;*/
  margin:2%;
  border-radius: 2%;
  /*background-color: white;*/
  
}
html .main .center .c_center .c_top.creat, body .main .center .c_center .c_top.creat {
   -webkit-appearance:none;
  position: relative;
  width: 96%;
  height: 90%;
  border: 1px solid #313131;
  margin:2%;
  background-color: #1B1B1B;
  border-radius: 2%;
}
html .main .center .c_center .c_top.creat .book_img, body .main .center .c_center .c_top.creat .book_img{
  margin-top: 5%;
  height: 30%;
}
html .main .center .c_center .c_top.creat .book_img img, body .main .center .c_center .c_top.creat .book_img img{
  height: 90%;
}
html .main .center .c_center .c_top.creat .introduce, body .main .center .c_center .c_top.creat .introduce{
  
  height: 70%;
  
}
html .main .center .c_center .c_top.creat .introduce ul .drop_down.category, body .main .center .c_center .c_top.creat .introduce ul .drop_down.category{
  -webkit-appearance:none;
  
  border-radius: 5%;
  border: solid 1px #5e5a5a;
  background-color: black;
  color:#cec6c6;
  
}
html .main .center .c_center .c_top.creat .introduce ul .select, body .main .center .c_center .c_top.creat .introduce ul .select{
   -webkit-appearance:none;
 border-radius: 5%;
  border: solid 1px #5e5a5a;
  background-color: black;
  color:#cec6c6;
  margin-bottom: 5%;
}
html .main .center .c_center .c_top.creat .introduce  .edit, body .main .center .c_center .c_top.creat .introduce .edit{
  -webkit-appearance:none;
  width:35%;
  height:8%;

  position: absolute;
  bottom:8%;
right:10%;
  border-radius: 5%;
  border: solid 1px #5e5a5a;
  background-color: black;
  color:#cec6c6;
}

html .main .center .c_center .c_top .book_img , body .main .center .c_center .c_top .book_img  {
  position: relative;
  width: 100%;
  height: 50%;
  /*margin:2%;*/
  /*border:solid 1px red;*/
}
html .main .center .c_center .c_top .book_img .main_img, body .main .center .c_center .c_top .book_img .main_img {
  position: relative;
  width: 40%;
  margin-left: 30%;
  height: 60%;
   border-radius:5px;
  /*border: solid 1px yellow;*/
}
html .main .center .c_center .c_top .book_img .main_img img, body .main .center .c_center .c_top .book_img .main_img img{
  
  /*margin-left:13%;
  margin-right: 13%;*/
  /*border: solid 1px yellow;*/
}
html .main .center .c_center .c_top .book_img .image_select, body .main .center .c_center .c_top .book_img .image_select{
  color: #9e9c9c;
  /*margin-left:13%;
  margin-right: 13%;*/
  /*border: solid 1px yellow;*/
}

html .main .center .c_center .c_top .book_img .book_slick, body .main .center .c_center .c_top .book_img .book_slick {
  position: relative;
  width: 90%;
  height: 40%;
  margin-top: 2%;
  margin-left:5%;
  /*padding-top: 2%;*/
  /*border: solid 1px blue;*/
}
html .main .center .c_center .c_top .book_img .book_slick .a, body .main .center .c_center .c_top .book_img .book_slick .a{
  -webkit-appearance:none;
  background-color: #1B1B1B;
  border-color: #1B1B1B;
  /*border: solid 1px blue;*/
}
html .main .center .c_center .c_top .book_img .book_slick img, body .main .center .c_center .c_top .book_img .book_slick img{
  position: relative;
  width: 50%;
  height: 80%;
  margin-top: 10%;

    /*border: solid 1px blue;*/
}
html .main .center .c_center .c_top .image_select ul , body .main .center .c_center .c_top .image_select ul {
  width: 85%;
  list-style-type: none;
  color: #9e9c9c;
  font-size: 10px;
  margin-top:0;
  margin-bottom:0;
}
html .main .center .c_center .c_top .image_select ul li, body .main .center .c_center .c_top .image_select ul li{
  width: auto;
  height: 100%;
  display: inline-block;
}
html .main .center .c_center .c_top .image_select .select, body .main .center .c_center .c_top .image_select .select{
 display: inline-block;
  width: 80%;
}
html .main .center .c_center .c_top .introduce, body .main .center .c_center .c_top .introduce {
  transform: translateY(0%);
  position: relative;
  width:100%;
  height: 100%;
  padding: 0;
  margin-bottom: 0px;
  color: #9e9c9c;
}

html .main .center .c_center .c_top .introduce ul, body .main .center .c_center .c_top .introduce ul{
  width: 85%;
  list-style-type: none;
  color: #9e9c9c;
  font-size: 12px;
  margin-top:0;
  margin-bottom:0;
}



html .main .center .c_center .c_top .introduce ul li, body .main .center .c_center .c_top .introduce ul li {
  width: 85%;
  height: 100%;

  /*border: solid 1px white;*/
 
}
html .main .center .c_center .c_top .introduce .creat_title, body .main .center .c_center .c_top .introduce .creat_title{
  display: inline-block;
  width:auto;
  color: #ccc;
}
html .main .center .c_center .c_top .introduce .creat, body .main .center .c_center .c_top .introduce .creat{
   -webkit-appearance:none;
  width: 80%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #555;
  background: rgba(0,0,0,.9);
  padding: 5px 15px;
  font-size: 16px;
  margin: 7px auto;
  color: #ccc;
  display: inline-block;
}
html .main .center .c_center .c_top .introduce  .introduce_b, body .main .center .c_center .c_top .introduce  .introduce_b{
  -webkit-appearance:none;
  transform: translateY(-10px);
  width: 40%;
  height: 5%;
  position: absolute;
  right:0;
  /*border: solid 1px white;*/
  /*margin-top: 2%;*/
}
html .main .center .c_center .c_top .introduce .introduce_b .ask,.buy, body .main .center .c_center .c_top .introduce  .introduce_b .ask,.buy{
  -webkit-appearance:none;
  width:45%;
  height:5vh;

  position: absolute;
  bottom:8%;
  border-radius: 5%;
  border: solid 1px #5e5a5a;
  background-color: black;
  color:#cec6c6;
}
html .main .center .c_center .c_bottom, body .main .center .c_center .c_bottom {
  /*position: relative;*/
  
  width: 100%;
  height: 18%;
  padding:0;
  background-color: black;

  /*border: solid 1px red;*/
}
html .main .center .c_center .c_bottom .a, body .main .center .c_center .c_bottom .a{
  /*position: relative;*/
  
 
  background-color: black;

  border: solid 0px ;
}
html .main .center .c_center .c_bottom img, body .main .center .c_center .c_bottom img{
  /*position: relative;*/
  width: 15vw;
  height:8vh;
  margin-top: 5%;
  margin-left: 2.7vw;
  transform:translateX(-3vw);
  border: solid 0px ;
  /*background-color:white;*/
}
html .main .center .c_right, body .main .center .c_right {
  display: none;
  
}
html .main .center .c_right .ad_b, body .main .center .c_right .ad_b{
 
display: none;
  /*#0c0c0c;*/
}
html .main .center .c_right .ad_b img, body .main .center .c_right .ad_b img{
 
display: none;
  /*#0c0c0c;*/
}
img{
  width:1%;
  height:1%;
}
}
@media only screen 
and (max-width : 460px)
 { 
  html .main .center .c_left, body .main .center .c_left {
  display:none;
}
  html .main .center .c_center, body .main .center .c_center{
  width: 100%;
}
 }
@media only screen 
and (min-width : 0px) 
and (max-width : 460px)
 { 
  /*html .main .top .user, body .main .top .user {
    display:none;
  position: absolute;
  top:0;
  right:10px;
  width: 20vw;
  height: 100%;
  margin: 0px 0px 0px 0px;
  
  
}
html .main .top .user .account, body .main .top .user .account {
  width: auto;
  height: 48%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
}
html .main .top .user .account_b, body .main .top .user .account_b {
  width: auto;
  height: 48%;
  color: white;
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .main .top .user #signIn, body .main .top .user #signIn {
 
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
  margin-right: 5px;

}
html .main .top .user #logIn, body .main .top .user #logIn {
  
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
}*/
  }
