/** {
  border: solid 1px white;
}*/
/*img {
     height: auto;
     max-width: 100%;
 }*/

@font-face {
  font-family: song;
  src: url("cwfs.ttf");
}
@media only screen
and (min-device-width : 812px) 
and (max-device-width : 999999px)
{ 
html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  
}
html .main, body .main {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}
html .main .top, body .main .top {
  position: relative;
  width: 100%;
  height: 10%;
  padding: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  border: 1px solid #313131;
}
html .main .top .title, body .main .top .title {
  width: 40vw;
  /*height:100%;*/
  margin: 0px 0px 0px 0px;
  display: inline-block;
  vertical-align:top;
  color: white;
  font-weight: bold;
}
.titlename:hover, .titlesquare:hover {
  cursor: pointer;
}
html .main .top .title  .titlename, body .main .top .title  .titlename {
  display: inline-block;
  vertical-align:top;
  width:auto;
  margin-right: 9px;
  padding: 0px;
  font-size: 45px;
}
html .main .top .title  .titlesquare, body .main .top .title  .titlesquare {
  width:auto;
  height:auto;
  display: inline-block;
  vertical-align:top;
  background-color: #FF9901;
  font-size: 45px;
  border-radius: 1vw;
  color: black;
  margin-left: 0px;
  font-weight: bold;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}
html .main .top .none, body .main .top .none {
  width: 5vw;
  height: 100%;
  margin: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  display: inline-block;
  vertical-align:top;
  position: relative;
}
html .main .top .user, body .main .top .user {
   position: absolute;
  right:5%;
  width: 15vw;
  /*height: 100%;*/
  margin: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  
  
}
html .main .top .user .account, body .main .top .user .account {
  width: auto;
  /*height: 48%;*/
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
}
html .main .top .user .account_b, body .main .top .user .account_b {
  width: auto;
  height: 48%;
  color: white;
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .main .top .user #signIn, body .main .top .user #signIn {
 
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
  margin-right: 5px;

}
html .main .top .user #logIn, body .main .top .user #logIn {
  
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
}
hr{
  /*height: 1px;*/
  border-color:#72706e;
}
.marquee{
  color:white;
}
html .main .center, body .main .center {
  width: 100%;
  height: 80%;
  
  margin: 0px;
  padding: 0px;
}
html .main .center .c_left, body .main .center .c_left {
  background-color: #1B1B1B;
  position: relative;
  display: inline-block;
  vertical-align:bottom;
  transform: translateY(-20px);
  width: 17%;
  height: 95%;
  border: 1px solid #313131;
  border-radius: 5px;
}
html .main .center .c_left .category_title, body .main .center .c_left .category_title{
 /* background-color: #FF9901;*/
  background-color: #FF9901;
  
  width: 90%;
  height: 9%;
  margin:5px;
  text-align:center; 
  font-weight: bolder;
  font-size: 30px;
  border-radius: 3px; 
}
html .main .center .c_left .category_items, body .main .center .c_left .category_items{
  
  width: 90%;
  height: 90%;
  margin: 0px;
  
}
.category_button{
  position: relative;
  font-family: song; 
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px black double;
  width: 100%;
  height: 5vh;
  margin:5px;
  text-align:left; 
  background-color: #747474;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
}
.category_button:hover{
  transform: translateX(10px);
  background-color: #747474;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
}
html .main .center .c_center, body .main .center .c_center {
  display: inline-block;
  position: relative;
  width: 76%;
  height: 100%;
 /* padding-right: 10px: */
}
html .main .center .c_center .c_top, body .main .center .c_center .c_top {
  position: relative;
  width: 100%;
  height: 10%;
}
html .main .center .c_center .c_top .search, body .main .center .c_center .c_top .search {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 0px;
  width: 33%;
  height: 60%;
  border:none;
  background-color: rgba(0, 0, 0, 0);
}
html .main .center .c_center .c_top .search #search_id, body .main .center .c_center .c_top .search #search_id{
  width:70%;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
html .main .center .c_center .c_top .search #search_button, body .main .center .c_center .c_top .search #search_button{
  width:20%;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
html .main .center .c_center .c_bottom, body .main .center .c_center .c_bottom {
  position: relative;
  width: 100%;
  height: 87%;
  background-color: black;
  overflow-x:auto;
}
html .main .center .c_center .c_bottom .items, body .main .center .c_center .c_bottom .items{
  position: relative;
  margin:10px 1px 10px 19px;
  width:28%;
  height:30%;
  max-width:30%;
  max-height:38%;
  display: inline-block;
  background-color: #1B1B1B;
  border-radius: 5px;
  border: 1px solid #313131;
}
html .main .center .c_center .c_bottom .items:hover, body .main .center .c_center .c_bottom .items:hover{
  
  transition: box-shadow .95s;
  box-shadow: 5px 5px 0px 0 rgba(104, 103, 103, 0.4);
  transform: scale(1.1);
  transform-origin: center center 0;
  transition: all 0.5s ease-out 0s;
}
/*.items_b{
  position: absolute;
  margin:6px;
  width:30%;
  height:30%;
  display: inline-block;
  
  background-color: #fff;
}*/

html .main .center .c_center .c_bottom .items .i_left, body .main .center .c_center .c_bottom .items .i_left{
  position: absolute;
  margin:5px;
  width:35%;
  height:90%;

  /*margin:2px;*/
}
html .main .center .c_center .c_bottom .items .i_left img, body .main .center .c_center .c_bottom .items .i_left img{
  /*margin:2px;*/
  width:98%;
  height:80%;
  /*display: inline-block;*/
  border-radius: 3px;
}
html .main .center .c_center .c_bottom .items .i_left .items_b, body .main .center .c_center .c_bottom .items .i_left .items_b{
  position: absolute;
  bottom: 0px;
  align-content: center;
  transform: translateY(5px);
  width:90%;
  height:19%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #747474;
  border-radius: 5px;
  border: 0px ;
  /*margin-left: 3px;
  
  /*display: inline-block;*/
}
html .main .center .c_center .c_bottom .items .introduce, body .main .center .c_center .c_bottom .items .introduce{
  position: absolute;
  right:1px;
  width:63%;
  height:96%;
  padding: 6px;
}
html .main .center .c_center .c_bottom .items .introduce  ul, body .main .center .c_center .c_bottom .items .introduce ul{
  width: 90%;
  height:80%;
  margin:5px 5px 5px 5px;
  display: inline-block;
  /*background-color: ;*/
  /*border:white solid 1px;*/
  font-size: 15px;
  font-weight: bold;
  padding: 0px;
  
}
html .main .center .c_center .c_bottom .items .introduce  ul li, body .main .center .c_center .c_bottom .items .introduce ul li{
  width: 90%;
  height:25%;
  margin:4px 5px 3px 5px;
  display: inline-block;
  /*background-color: ;*/
  /*border:yellow solid 1px;*/
  color:#747474;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  padding: 0px;
  
}
html .main .center .c_center .c_bottom .items .introduce  ul li .label, body .main .center .c_center .c_bottom .items .introduce ul li .label{
  /*height:25%;
  width:40%;*/
  /*border:red solid 1px;*/
}
html .main .center .c_center .c_bottom .items .introduce  ul li .input, body .main .center .c_center .c_bottom .items .introduce ul li .input{
  /*height:25%;
  width:55%;*/
  padding:2px 5px;
  margin-left: 3px;
  
  color:#747474;
  border-radius: 3px;
  /*border:red solid 1px;*/
  overflow: hidden;
  font-size: 13px;
}
html .main .center .c_right, body .main .center .c_right {
  display: inline-block;
  width: 2%;
  height: 95%;
  margin: 0px;
  background-color: #3a3a3a;
}

#search_id{
  position: absolute;
  top: 3px;
  left: 5px;
  width:80%;
  background-color: #747474; 
}
#search_button{
  position: absolute;
  top:3px;
  right:1px;
  width:19%;
  background-color: #FF9901
}
}

@-webkit-keyframes ani_titlesquare {
  10% {
    background-color: #ffaf02;
  }
  15% {
    background-color: #ffd402;
  }
  20% {
    background-color: #faff02;
  }
  25% {
    background-color: #e9ff02;
  }
  30% {
    background-color: #c4ff02;
  }
  35% {
    background-color: #67ff02;
  }
  40% {
    background-color: #02ff84;
  }
  45% {
    background-color: #02ffbf;
  }
  50% {
    background-color: #02e9ff;
  }
  55% {
    background-color: #02d4ff;
  }
  60% {
    background-color: #02c8ff;
  }
  65% {
    background-color: #02a2ff;
  }
  70% {
    background-color: #0280ff;
  }
  75% {
    background-color: #0263ff;
  }
  80% {
    background-color: #0235ff;
  }
  85% {
    background-color: #4502ff;
  }
  90% {
    background-color: #5f02ff;
  }
  95% {
    background-color: #5f02ff;
  }
  100% {
    background-color: #5f02ff;
  }
}

@keyframes ani_titlesquare {
  10% {
    background-color: #ffaf02;
  }
  15% {
    background-color: #ffd402;
  }
  20% {
    background-color: #faff02;
  }
  25% {
    background-color: #e9ff02;
  }
  30% {
    background-color: #c4ff02;
  }
  35% {
    background-color: #67ff02;
  }
  40% {
    background-color: #02ff84;
  }
  45% {
    background-color: #02ffbf;
  }
  50% {
    background-color: #02e9ff;
  }
  55% {
    background-color: #02d4ff;
  }
  60% {
    background-color: #02c8ff;
  }
  65% {
    background-color: #02a2ff;
  }
  70% {
    background-color: #0280ff;
  }
  75% {
    background-color: #0263ff;
  }
  80% {
    background-color: #0235ff;
  }
  85% {
    background-color: #4502ff;
  }
  90% {
    background-color: #5f02ff;
  }
  95% {
    background-color: #5f02ff;
  }
  100% {
    background-color: #5f02ff;
  }
}
.titlesquare {
  -webkit-animation-name: ani_titlesquare;
          animation-name: ani_titlesquare;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@media only screen 
and (min-width : 0px) 
and (max-width : 812px)
{ 
  body{
    background-color: black;
  }
  html .main, body .main {
  width: 100%;
  height: 100%;
  background-color: black;
}
html .main .top, body .main .top {
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: #1B1B1B;
  border: 1px solid #313131;
}
html .main .center, body .main .center {
position: relative;
width: 100%;
height: 80vh;
background-color: black;
}
html .main .top .title, body .main .top .title {
  width: 240px;
  height:100%;
  margin-top:2px;
  display: inline-block;
  vertical-align:bottom;
  color: white;
  font-weight: bold;
}
.titlename:hover, .titlesquare:hover {
  cursor: pointer;
}
html .main .top .title  .titlename, body .main .top .title  .titlename {
  display: inline-block;
  vertical-align:top;
  width:auto;
  margin-right: 9px;
  padding: 0px;
  font-size: 45px;
}
html .main .top .title  .titlesquare, body .main .top .title  .titlesquare {
  width:auto;
  height:auto;
  display: inline-block;
  vertical-align:top;
  background-color: #FF9901;
  font-size: 45px;
  border-radius: 10px;
  color: black;
  margin-left: 0px;
  font-weight: bold;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}
html .main .top .none, body .main .top .none {
  width: 0vw;
  height: 100%;
  margin: 0px 0px 0px 0px;
  background-color: #1B1B1B;
  display: inline-block;
  vertical-align:top;
  position: relative;
}
html .main .top .user, body .main .top .user {
  position: absolute;
  top:0;
  right:10px;
  width: 20vw;
  height: 100%;
  margin: 0px 0px 0px 0px;
  
  
}
html .main .top .user .account, body .main .top .user .account {
  width: auto;
  height: 48%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
}
html .main .top .user .account_b, body .main .top .user .account_b {
  width: auto;
  height: 48%;
  color: white;
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .main .top .user #signIn, body .main .top .user #signIn {
 
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
  margin-right: 5px;

}
html .main .top .user #logIn, body .main .top .user #logIn {
  
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
}
html .main .center .c_left, body .main .center .c_left {
  width: 30vw;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  transform: translateY(0%);
  border: 1px solid #313131;
  background-color: #1B1B1B;
  margin: 0px;
}
html .main .center .c_left .category_title, body .main .center .c_left .category_title{
  background-color: #FF9901;
  position: absolute;
  top:6px;
  width: 100%;
  height: 5%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 5vw;
  border-radius: 5px; 
}
html .main .center .c_left .category_items, body .main .center .c_left .category_items{
   -webkit-appearance:none;
  position: absolute;
  top:6%;
  width: 100%;
  height: 90%;
  margin: 0px;
  
}
.category_button{
  -webkit-appearance:none;
  position: relative;
  font-family: song; 
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px black double;
  width: 100%;
  height: 3.5vh;
  margin-top:5px;
  text-align:left; 
  background-color: #747474;
  border-radius: 7px;
  border-color: rgba(0, 0, 0, 0);
}
html .main .center .c_center, body .main .center .c_center {
  position: relative;
  background-color: #0c0c0c;
  border: 1px solid #313131;
  display: inline-block;
  vertical-align: bottom;
  width: 64.5vw;
  height: 100%;
  margin: 0px;

  /*background-color: yellow;*/
}
html .main .center .c_center .c_top, body .main .center .c_center .c_top {
  position: relative;
  width: 96%;
  height: 3vh;
  /*border: solid 1px white;*/
  margin:2%;
  /*background-color: #1B1B1B;*/
  /*background-color: red;*/
  border-radius: 2%;
}
html .main .center .c_center .c_top .search, body .main .center .c_center .c_top .search {
  -webkit-appearance:none;
  position: absolute;
  top: 10px;
  /*right: 10px;*/
  margin-top: 0px;
  width: 100%;
  height: 20%;
  border:none;
  background-color: rgba(0, 0, 0, 0);
}
html .main .center .c_center .c_top .search #search_id, body .main .center .c_center .c_top .search #search_id{
  -webkit-appearance:none;
  width:70%;
  height: 3vh;
  display: inline-block;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
html .main .center .c_center .c_top .search #search_button, body .main .center .c_center .c_top .search #search_button{
  -webkit-appearance:none;
  width:20%;
  height:4vh;
  background-color: #FF9901;
  display: inline-block;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
html .main .center .c_center .c_bottom, body .main .center .c_center .c_bottom {
  transform: translateY(2%);
  width: 100%;
  height: 90vh;
  /*background-color: green;*/
  /*overflow: scroll;*/
}
html .main .center .c_center .c_bottom .items, body .main .center .c_center .c_bottom .items{
  position: relative;
  margin:10px 1px 10px 19px;
  width:80%;
  height:30%;
  max-width:90%;
  max-height:38%;
  display: block;
  background-color: #1B1B1B;
  border-radius: 5px;
  border: 1px solid #313131;
}
/*.items_b{
  position: absolute;
  margin:6px;
  width:30%;
  height:30%;
  display: inline-block;
  
  background-color: #fff;
}*/

html .main .center .c_center .c_bottom .items .i_left, body .main .center .c_center .c_bottom .items .i_left{
  margin:5px;
  width:40%;
  height:90%;

  /*margin:2px;*/
}
html .main .center .c_center .c_bottom .items .i_left img, body .main .center .c_center .c_bottom .items .i_left img{
  /*margin:2px;*/
  width:98%;
  height:80%;
  /*display: inline-block;*/
  border-radius: 3px;
}
html .main .center .c_center .c_bottom .items .i_left .items_b, body .main .center .c_center .c_bottom .items .i_left .items_b{
  -webkit-appearance:none;
  position: absolute;
  bottom: 0px;
  left:50%;
  transform: translateX(-50%);
  width:90%;
  height:19%;
  display: flex;
  justify-content: center;
  text-align: center;
  border:solid 1px #c9c8c7;
  /*margin-left: 3px;
  margin-top:6px;*/
  /*display: inline-block;*/
}
html .main .center .c_center .c_bottom .items .introduce, body .main .center .c_center .c_bottom .items .introduce{
  position: absolute;
  right:1px;
  width:55%;
  height:96%;
  padding: 6px;
}
html .main .center .c_center .c_bottom .items .introduce  ul, body .main .center .c_center .c_bottom .items .introduce ul{
  width: 90%;
  height:80%;
  margin:5px 5px 5px 5px;
  display: inline-block;
  /*background-color: ;*/
  /*border:white solid 1px;*/
  font-size: 15px;
  font-weight: bold;
  padding: 0px;
  
}
html .main .center .c_center .c_bottom .items .introduce  ul li, body .main .center .c_center .c_bottom .items .introduce ul li{
  width: 90%;
  height:25%;
  margin:4px 5px 3px 5px;
  display: inline-block;
  /*background-color: ;*/
  /*border:yellow solid 1px;*/
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  
}
html .main .center .c_center .c_bottom .items .introduce  ul li .label, body .main .center .c_center .c_bottom .items .introduce ul li .label{
  
  /*height:25%;
  width:40%;*/
  /*border:red solid 1px;*/
}
html .main .center .c_center .c_bottom .items .introduce  ul li .input, body .main .center .c_center .c_bottom .items .introduce ul li .input{
  /*height:25%;
  width:55%;*/
  padding:2px 5px;
  margin-left: 3px;
  background-color: #2b2a2a;
  color:#c9c8c7;
  border-radius: 3px;
  /*border:red solid 1px;*/
  overflow: hidden;
  font-size: 19px;
}

html .main .center .c_right, body .main .center .c_right {
  
  display: none;
  
}
html .main .center .c_right .ad_b, body .main .center .c_right .ad_b{
 
display: none;
  /*#0c0c0c;*/
}
html .main .center .c_right .ad_b img, body .main .center .c_right .ad_b img{
 
display: none;
  /*#0c0c0c;*/
}
img{
  width:1%;
  height:1%;
}
}
@media only screen 
and (min-device-width : 0px) 
and (max-width : 460px)
 { 
  html .main .center .c_left, body .main .center .c_left {
  display:none;
}
  html .main .center .c_center, body .main .center .c_center{
  width: 100%;
}
 }
@media only screen 
and (min-device-width : 0px) 
and (max-width : 460px)
 { 
  html .main .top .user, body .main .top .user {
    display:none;
  position: absolute;
  top:0;
  right:10px;
  width: 20vw;
  height: 100%;
  margin: 0px 0px 0px 0px;
  
  
}
html .main .top .user .account, body .main .top .user .account {
  width: auto;
  height: 48%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
}
html .main .top .user .account_b, body .main .top .user .account_b {
  width: auto;
  height: 48%;
  color: white;
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .main .top .user #signIn, body .main .top .user #signIn {
 
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
  margin-right: 5px;

}
html .main .top .user #logIn, body .main .top .user #logIn {
  
  width: auto;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #FF9901;
}
  }
